.layout{


display:grid;


grid-template-columns:260px 1fr;


grid-template-rows:70px 1fr;


grid-template-areas:


"navbar navbar"


"sidebar content";



height:100vh;


width:100%;


}




#navbar{

grid-area:navbar;

}



#sidebar{

grid-area:sidebar;


}



#content{


grid-area:content;


padding:30px;


overflow:auto;


background:#f8fafc;


}