.law-dashboard{

direction:rtl;

}



.dashboard-title{

font-size:34px;

color:#1e293b;

margin-bottom:5px;

}



.dashboard-subtitle{

color:#64748b;

margin-bottom:35px;

}




.law-cards{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;


}



.law-card{


background:white;

padding:25px;

border-radius:18px;

box-shadow:

0 15px 35px rgba(0,0,0,.08);

border-top:5px solid #1e3a8a;

transition:.3s;


}



.law-card:hover{

transform:translateY(-6px);

}




.card-head{

display:flex;

align-items:center;

gap:15px;

}



.card-icon{

font-size:35px;

}



.law-card strong{


display:block;

font-size:42px;

margin-top:20px;

color:#1e3a8a;


}



.law-card p{


color:#64748b;


}



.clients{

border-color:#2563eb;

}



.cases{

border-color:#7c3aed;

}



.hearings{

border-color:#dc2626;

}



.payments{

border-color:#16a34a;

}



.notifications{

border-color:#f59e0b;

}