.login-page{


height:100vh;


display:flex;


justify-content:center;


align-items:center;


background:linear-gradient(
135deg,
#0f172a,
#1e3a8a
);


}



.login-card{


background:white;


width:400px;


padding:40px;


border-radius:25px;


box-shadow:0 20px 50px rgba(0,0,0,.2);


text-align:center;


}



.login-card h1{


color:#1e3a8a;


}



.login-card input{


width:100%;


padding:14px;


margin:10px 0;


border:1px solid #ddd;


border-radius:12px;


}



.login-card button{


width:100%;


padding:14px;


background:#1e3a8a;


color:white;


border:0;


border-radius:12px;


cursor:pointer;


font-size:18px;


}



#loginError{


color:red;


margin-top:15px;


}